<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <h1 th:text="${titulo}"></h1>
        <h3 th:text="${factura.getDescripcion()}"></h3>
        <div> Cliente : <span th:text="${factura.getCliente().getNombre() + ' ' + factura.getCliente().getApellido()}"></span></div>
        <h4>Detalle de la factura</h4>
        <table>
            <thead>
                <tr>
                    <th>Producto</th>
                    <th>Precio</th>
                    <th>Cantidad</th>
                    <th>Total</th>
                </tr> 
            </thead>
            
            <tbody>
                <tr th:each="item:${factura.getItemFactura()}">
                <td th:text="${item.getProducto().getNombre}"></td>
                <td th:text="${item.getProducto.getPrecio}"></td>
                <td th:text="${item.getCantidad()}"></td>
                <td th:text="${item.getImporte}"></td>
            </tr>
            </tbody>
        </table>
    </body>
</html>
