<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div></div>
        <table>
            <thead>
                <tr>
                    <td>
                        Conteo
                    </td>
                    <td>
                        Codigo
                    </td>
                    <td>
                        Nombre
                    </td>
                    <td>
                        Cantidad
                    </td>
                    <td>
                        Precio
                    </td>
                </tr>
            </thead>
            <tbody>
                <tr th:each="LProductos:${ListaProductos}">
                    <td th:text="${LProductos.getConteo()}"></td>
                    <td th:text="${LProductos.getCodigo()}"></td>
                    <td th:text="${LProductos.getNombre()}"></td>
                    <td th:text="${LProductos.getCantidad()}"></td>
                    <td th:text="${LProductos.getPrecio()}"></td>
                </tr>
            </tbody>
        </table>

    </body>
</html>
